.section {
  height: 100vh;
  width: 100%;
  max-width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  scroll-snap-align: center;
  position: relative;
  z-index: 1;
  overflow: hidden;
  clip-path: inset(0 0 0 0);

  .bellImage {
    position: absolute;
    top: -10%;
    left: -3%;
    z-index: 2;
    transform-origin: center center;
    transform-origin: center center;
    transform: rotate(-45deg);
    
    @media (max-width: 768px) {
      top: -10%;
      left: -10%;
      img {
        width: 100px;
        height: 100px;
      }
      
      @media (max-height: 700px) {
        top: -5%;
      }
      
      @media (max-height: 600px) {
        top: -3%;
      }
      
      @media (max-height: 500px) {
        top: 0%;
      }
    }
    
    @media (max-width: 480px) {
      top: 0%;
      left: -12%;
      transform: rotate(-30deg);
      img {
        width: 80px;
        height: 80px;
      }
      
      
      @media (max-height: 650px) {
        top: 0%;
        left: -13%;
        
        img {
          width: 150px !important;
          height: 190px !important;
        }
      }
    }
  }

  .gingerbreadImage {
    position: absolute;
    bottom: -25%;
    right: -10%;
    z-index: 2;
    transform-origin: center center;
    transform-origin: center center;
    transform: rotate(-15deg);
    @media (max-width: 768px) {
      bottom: -25%;
      right: -10%;
      img {
        width: 100px;
        height: 100px;
      }
      @media (max-height: 600px) {
        bottom: -15%;
      }
    }
    
    @media (max-width: 480px) {
      bottom: -15%;
      right: -35%;
      transform: rotate(-18deg);
      img {
        width: 80px;
        height: 80px;
      }
      @media (max-height: 650px) {
        bottom: -20%;
        right: -20%;
        img {
          width: 300px !important;
          height: 300px !important;
        }
      }
    }
  }
  .copy {
    padding: 0 20px;
    
    @media (max-width: 768px) {
      padding: 0;
    }
    
    h2 {
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 1;
      font-size: 6rem;
      font-weight: 700;
      color: #fff;
      text-align: center;
      line-height: 100%;
      text-transform: uppercase;
      white-space: nowrap;
      opacity: 1;
      pointer-events: none;
      
      @media (max-width: 768px) {
        font-size: 4.5rem;
      }
      
      @media (max-width: 480px) {
        font-size: 2.5rem;
        white-space: wrap;
      }
    }
  }
  .downarrow {
    position: absolute;
    bottom: 15px;
    left: 0;
    right: 0;
    margin: 0 auto;
    background-image: url("/images/downarrow.svg");
    background-repeat: no-repeat;
    background-size: contain;
    width: 30px;
    height: 30px;
    z-index: 2;
    border: none;
    background-color: transparent;
    cursor: pointer;
    
    @media (max-width: 768px) {
      bottom: 20px;
      width: 40px;
      height: 40px;
    }
  }
}

