.section {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  scroll-snap-align: center;
  position: relative;
  z-index: 1;
  overflow: hidden;

  .bellImage {
    position: absolute;
    top: -13%;
    left: -10%;
    z-index: 2;
    transform-origin: center center;
    transform-origin: center center;
    transform: rotate(-60deg);
    
    @media (max-width: 768px) {
      top: 15px;
      left: 15px;
      img {
        width: 100px;
        height: 100px;
      }
    }
    
    @media (max-width: 480px) {
      top: 10px;
      left: 10px;
      img {
        width: 80px;
        height: 80px;
      }
    }
  }

  .gingerbreadImage {
    position: absolute;
    bottom: -25%;
    right: -10%;
    z-index: 2;
    transform-origin: center center;
    transform-origin: center center;
    transform: rotate(-15deg);
    @media (max-width: 768px) {
      bottom: 15px;
      right: 15px;
      img {
        width: 100px;
        height: 100px;
      }
    }
    
    @media (max-width: 480px) {
      bottom: 10px;
      right: 10px;
      img {
        width: 80px;
        height: 80px;
      }
    }
  }
  .copy {
    padding: 0 20px;
    
    @media (min-width: 768px) {
      padding: 0;
    }
    
    h2 {
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 1;
      font-size: 6rem;
      font-weight: 700;
      color: #fff;
      text-align: center;
      line-height: 1.3;
      text-transform: uppercase;
      white-space: nowrap;
      
      @media (max-width: 480px) {
        font-size: 2.2rem;
      }
      
      @media (max-width: 768px) {
        font-size: 4.5rem;
        line-height: 1.2;
      }
    }
  }
  .downarrow {
    position: absolute;
    bottom: 15px;
    left: 0;
    right: 0;
    margin: 0 auto;
    background-image: url("/images/downarrow.svg");
    background-repeat: no-repeat;
    background-size: contain;
    width: 30px;
    height: 30px;
    z-index: 2;
    border: none;
    background-color: transparent;
    cursor: pointer;
    
    @media (min-width: 768px) {
      bottom: 20px;
      width: 40px;
      height: 40px;
    }
  }
}

