.section {
  height: 100vh;
  width: 100%;
  max-width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  scroll-snap-align: center;
  position: relative;
  overflow: hidden;
  clip-path: inset(0 0 0 0);
  .copy {
    padding: 0 20px;
    
    @media (max-width: 768px) {
      padding: 0;
    }
    
    h2 {
      z-index: 1;
      font-size: 6rem;
      font-weight: 700;
      color: #fff;
      text-align: center;
      line-height: 100%;
      text-transform: uppercase;
      
      @media (max-width: 768px) {
        font-size: 4.5rem;
      }
      
      @media (max-width: 480px) {
        font-size: 2.5rem;
        white-space: wrap;
      }
    }
  }
  .downarrow {
    position: absolute;
    bottom: 15px;
    left: 0;
    right: 0;
    margin: 0 auto;
    background-image: url("/images/downarrow.svg");
    background-repeat: no-repeat;
    background-size: contain;
    width: 30px;
    height: 30px;
    z-index: 2;
    border: none;
    background-color: transparent;
    cursor: pointer;
    
    @media (max-width: 768px) {
      bottom: 20px;
      width: 40px;
      height: 40px;
    }
  }
}

