@import "./reset";

/* TT Uzum Font Family */
@font-face {
  font-family: 'TT_Uzum';
  src: url('/fonts/TT_Uzum_Thin.woff2') format('woff2');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TT_Uzum';
  src: url('/fonts/TT_Uzum_Thin_Italic.woff2') format('woff2');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'TT_Uzum';
  src: url('/fonts/TT_Uzum_ExtraLight.woff2') format('woff2');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TT_Uzum';
  src: url('/fonts/TT_Uzum_ExtraLight_Italic.woff2') format('woff2');
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'TT_Uzum';
  src: url('/fonts/TT_Uzum_Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TT_Uzum';
  src: url('/fonts/TT_Uzum_Light_Italic.woff2') format('woff2');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'TT_Uzum';
  src: url('/fonts/TT_Uzum_Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TT_Uzum';
  src: url('/fonts/TT_Uzum_Italic.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'TT_Uzum';
  src: url('/fonts/TT_Uzum_Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TT_Uzum';
  src: url('/fonts/TT_Uzum_Medium_Italic.woff2') format('woff2');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'TT_Uzum';
  src: url('/fonts/TT_Uzum_DemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TT_Uzum';
  src: url('/fonts/TT_Uzum_DemiBold_Italic.woff2') format('woff2');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'TT_Uzum';
  src: url('/fonts/TT_Uzum_Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TT_Uzum';
  src: url('/fonts/TT_Uzum_Bold_Italic.woff2') format('woff2');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'TT_Uzum';
  src: url('/fonts/TT_Uzum_ExtraBold.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TT_Uzum';
  src: url('/fonts/TT_Uzum_ExtraBold_Italic.woff2') format('woff2');
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'TT_Uzum';
  src: url('/fonts/TT_Uzum_Black.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TT_Uzum';
  src: url('/fonts/TT_Uzum_Black_Italic.woff2') format('woff2');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'TT_Uzum', Arial, Helvetica, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-family: 'TT_Uzum', Arial, Helvetica, sans-serif;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
