.container {
  position: relative;
  overflow-y: auto;
  overscroll-behavior-y: contain;
  scroll-snap-type: y mandatory;
  height: 100vh;
  width: 100%;
  -ms-overflow-style: none;
  scrollbar-width: none;
  background: linear-gradient(180deg, #33006b 0%, #6000da 100%);
  &::-webkit-scrollbar {
    display: none;
  }
}

.glowWrapper {
  position: fixed;
  top: -130%;
  left: 50%;
  transform: translateX(-50%);
  width: 100vw;
  height: 200%;
  pointer-events: none;
  z-index: 0;
  opacity: 0.65;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  
  @media (max-width: 768px) {
    top: -100%;
    height: 150%;
    opacity: 0.5;
    @media (max-height: 600px) {
      top: -80%;
      height: 130%;
      opacity: 0.4;
    }
  }
  
  @media (max-width: 480px) {
    top: -80%;
    height: 150%;
    opacity: 0.4;
    width: 100vw;
    left: 50%;
    transform: translateX(-50%);
    @media (max-height: 650px) {
      top: -85%;
      height: 150%;
      opacity: 0.3;
    }
    
  }
  
  svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    @media (max-width: 768px) {
      width: 200%;
      height: 200%;
      @media (max-height: 650px) {
        width: 160%;
        height: 160%;
      }
    }
    
    @media (max-width: 480px) {
      width: 280%;
      height: 380%;
      @media (max-height: 650px) {
        width: 240%;
        height: 340%;
      }
    }
  }
}
